@import "tailwindcss";

@theme {
  /* Custom colors */
  --color-powderblue: #b0e0e6;
  --color-lightblue: #add8e6;

  /* Custom perspective */
  --perspective-1500: 1500px;

  /* Custom border width */
  --border-width-3: 3px;

  /* Custom animation */
  --animate-fade-in: fade-in 0.5s ease-in-out;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

/* .pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
} */

@layer components {
  .front-content,
  .back-content {
    width: 100%;
    height: 100%;
  }

  .back-content {
    transform: rotateY(180deg);
  }

  .flipped .front,
  .flipped .back {
    transform: rotateY(-180deg);
    transition: transform 1.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }

  .front,
  .back {
    transition: transform 1.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
  .my-font {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  .monsieur-la-doulaise-regular {
    font-family: "Monsieur La Doulaise", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .cookie-regular {
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .perspective-1500 {
    perspective: var(--perspective-1500);
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .border-l-3 {
    border-left-width: var(--border-width-3);
  }
}

@layer utilities {
  .bg-powderblue {
    background-color: var(--color-powderblue);
  }

  .bg-lightblue {
    background-color: var(--color-lightblue);
  }
}
